@using QuanLyBanHang.Entity;
@using QuanLyBanHang.Models.Product;
@model IEnumerable<ProductIndexViewModel>;
<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">All products</li>
            </ol>
        </nav>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@TempData["ErrorMessage"]</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="row">
                      
            <div class="col-md-12 table-responsive-md">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>
                                Price 
                                <a type="button" class="btn btn-secondary" asp-action="SortedByPrice" asp-route-sortOrder="desc">
                                    <i class="fa-solid fa-arrow-down-wide-short"></i>
                                </a>
                                <a type="button" class="btn btn-secondary" asp-action="SortedByPrice" asp-route-sortOrder="inc">
                                    <i class="fa-solid fa-arrow-down-short-wide"></i>
                                </a>
                            </th>
                            <th>Size</th>
                            <th>Brand</th>
                            <th>Update Date</th>
                            <th>Status</th>
                            <th>Gender</th>
                            <th>Image</th>
                            <th class="text-warning">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                    <td>
                                        <a asp-action="Detail" asp-route-id="@item.Id">
                                            @item.Id
                                        </a>
                                    </td>
                                    <th>@item.proName</th>
                                    <th>@item.proPrice</th>
                                    <th>@item.proSize</th>
                                    <th>@item.Producer</th>
                                    <th>@item.proUpdateDate.ToShortDateString()</th>
                                    @if (item.proStatus == Status.Available)
                                    {
                                        <th class="text-success">@item.proStatus</th>
                                    }
                                    else
                                    {
                                        <th class="text-danger">@item.proStatus</th>

                                    }
                                    <th>@item.forGender</th>
                                    <td>
                                        <img style="width:80px" src="@Url.Content(@item.ImageUrl)" />
                                    </td>
                                    <td>
                                        <a class="text-success" asp-action="Detail" asp-route-id="@item.Id">
                                            <i class="fa-solid fa-circle-info"></i> Detail
                                        </a>

                                        <a class="text-info" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.Id">
                                            <i class="fas fa-plus-square"></i> Add to Cart
                                        </a>
                                    
                                    
                                    </td>
                                    
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}