@using QuanLyBanHang.Models.Customer;
@model CustomerDetailViewModel;
<div class="col-md-12 grid-margin grid-margin-md-0">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Customer List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Customer Detail</li>
                </ol>
            </nav><br /><br />
            <div class="wrap d-flex justify-content-md-start justify-content-sm-center flex-wrap">
                <div class="wrap align-content-center ml-5">
                    <p class="font-weight-bold text-success" style="font-size:20px"><b>@Model.cusFullName</b></p>
                    <hr style="background-color:black" />
                    <b><p class="font-weight-normal text-danger">User name : @Model.UserName</p>
                    <hr style="background-color:black" />
                    <p class="font-weight-normal"> Gender: @Model.Gender</p>
                    <p class="font-weight-normal"> Phone Number : @Model.cusPhone</p>
                        <p class="font-weight-normal">Address : @Model.cusAddress</p>
                        <p class="font-weight-normal">Email :  @Model.cusEmail</p>
                                  
                    </b>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}