@using QuanLyBanHang.Models.Customer;
@model IEnumerable<CustomerIndexViewModel>;
<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Customer List</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12 table-responsive-md">
                <a class="btn btn-xs btn-outline-success float-md-right mb-3" asp-action="Create"> New Customer</a>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>FullName</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th class="text-warning">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.UserName">
                                        @item.UserName
                                    </a>
                                </td>
                                <th>@item.cusFullName</th>
                                <th>@item.cusPhone</th>
                                <th>@item.cusEmail</th>
                                <th>@item.Gender</th>
                                <td>
                                    <a class="text-success" asp-action="Detail" asp-route-id="@item.UserName">
                                        <i class="fas fa-bars"></i> Detail
                                    </a>
                                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.UserName">
                                        <i class="far fa-trash-alt"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}