@using Microsoft.AspNetCore.Identity;
@using QuanLyBanHang.Entity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Cart>;
<div class="card">
    <div class="card-body">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Your cart</li>
            </ol>
        </nav>
        <div class="row">
            <div class="col-md-12 table-responsive-md">
                <div class="d-flex align-items-center justify-content-around mt-4 mb-0" style="padding-bottom:30px">
                    <a class="btn btn-xs btn-outline-success float-md-left mb-3" asp-action="CreateOrder"> Order</a>
                    <a asp-action="DeleteAllYourCart" asp-route-id="@UserManager.GetUserName(User)" class="btn btn-xs btn-outline-danger float-md-right mb-3"> Delete All</a>
                </div>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>Product's ID</th>
                            <th>Product's Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Date</th>
                            <th class="text-warning">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    <a asp-action="Detail" asp-route-id="@item.proId">
                                        @item.proId
                                    </a>
                                </td>
                                
                                <th>@item.proName</th>
                                <td>
                                    <img style="width:80px" src="@Url.Content(@item.proImage)" />
                                </td>
                                <th>@item.proPrice</th>
                                <th>@item.Quantity</th>
                                <th>@item.DateCreated.ToShortDateString()</th>
                                <td>
                                    <a class="text-success" asp-action="Detail" asp-route-id="@item.proId">
                                        <i class="fa-solid fa-circle-info"></i> Product's Detail
                                    </a>
                                    <a class="text-warning" asp-action="ReduceQuantity" asp-route-id="@item.proId">
                                        <i class="far fa-trash-alt"></i> Reduce quantity
                                    </a>
                                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.proId">
                                        <i class="far fa-trash-alt"></i> Delete
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}